uberadfdecmde/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "uberadfdecmde"
		},
		"ADF2ADLS_ls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ADF2ADLS_ls'"
		},
		"ADLS2ADF_ls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ADLS2ADF_ls'"
		},
		"AzureSqlDatabase1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase1'"
		},
		"Blob2ADF_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Blob2ADF_ls'"
		},
		"Cosmodb2ADF_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Cosmodb2ADF_ls'"
		},
		"Cosmodb2ADF_ls_account": {
			"type": "secureString",
			"metadata": "Secure string for 'account' of 'Cosmodb2ADF_ls'",
			"defaultValue": "ubercosmodb"
		},
		"ADF2ADLS_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://uberadlssg.dfs.core.windows.net/"
		},
		"ADLS2ADF_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://uberadlssg.dfs.core.windows.net/"
		},
		"AzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-servermde2026.database.windows.net"
		},
		"AzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "uber_db"
		},
		"AzureSqlDatabase1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Venky"
		},
		"Cosmodb2ADF_ls_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "Driver"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/B2S_pl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Moving all transformed DF into silver folder",
				"activities": [
					{
						"name": "Driver_DF",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Driver_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"driver": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Location_DF",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Location_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Location": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Rides_DF",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Rides_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Rides": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Vehicle_DF",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Vehicle_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Vehicle": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "User_DF",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "User_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-23T11:43:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Driver_DF')]",
				"[concat(variables('factoryId'), '/dataflows/Location_DF')]",
				"[concat(variables('factoryId'), '/dataflows/Rides_DF')]",
				"[concat(variables('factoryId'), '/dataflows/Vehicle_DF')]",
				"[concat(variables('factoryId'), '/dataflows/User_DF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobRawfiles2ADF_pl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BlobRawfils",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Blob_B_Files",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-22T05:23:25Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BlobRawfils')]",
				"[concat(variables('factoryId'), '/datasets/Blob_B_Files')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cosmodb2ADF_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbMongoDbApiSource",
								"batchSize": 100
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Driver_R",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Driver_B",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-22T09:00:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Driver_R')]",
				"[concat(variables('factoryId'), '/datasets/Driver_B')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Driver_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This PL givees all transformation aplied on Driver",
				"activities": [
					{
						"name": "Driver_DF",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Driver_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"driver": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-22T12:23:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Driver_DF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/R2B_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cosmodb_PL",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Cosmodb2ADF_PL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Blob_PL",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BlobRawfiles2ADF_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-22T05:24:49Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Cosmodb2ADF_PL')]",
				"[concat(variables('factoryId'), '/pipelines/BlobRawfiles2ADF_pl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/S2G_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This will give final denormalized data",
				"activities": [
					{
						"name": "Uber_Final_data",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Uber_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Driver": {},
									"Rides": {},
									"user": {},
									"vehicle": {},
									"locationdf": {},
									"locationdf2": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-24T10:17:20Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Uber_DF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Uber_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This PL will combine all PL at one place",
				"activities": [
					{
						"name": "R2B_PL",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "R2B_PL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "B2S_PL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "R2B_PL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "B2S_pl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "S2G_PL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "B2S_PL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "S2G_PL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-24T10:22:02Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/R2B_PL')]",
				"[concat(variables('factoryId'), '/pipelines/B2S_pl')]",
				"[concat(variables('factoryId'), '/pipelines/S2G_PL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobRawfils')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Blob2ADF_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "uberrawcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "location_id",
						"type": "String"
					},
					{
						"name": "location",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "description",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Blob2ADF_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob_B_Files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADF2ADLS_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Medallian/Bronze",
						"fileSystem": "ubersgcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADF2ADLS_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Driver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2ADF_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Driver_S.csv",
						"folderPath": "Medallian/Silver",
						"fileSystem": "ubersgcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "created_at",
						"type": "String"
					},
					{
						"name": "driver_id",
						"type": "String"
					},
					{
						"name": "rating",
						"type": "String"
					},
					{
						"name": "status",
						"type": "String"
					},
					{
						"name": "updated_at",
						"type": "String"
					},
					{
						"name": "user_id",
						"type": "String"
					},
					{
						"name": "vehicle_id",
						"type": "String"
					},
					{
						"name": "rating_category",
						"type": "String"
					},
					{
						"name": "driver_experience_days",
						"type": "String"
					},
					{
						"name": "is_active",
						"type": "String"
					},
					{
						"name": "days_since_update",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2ADF_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Driver_B')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADF2ADLS_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Drivers_B.json",
						"folderPath": "Medallian/Bronze",
						"fileSystem": "ubersgcontainer"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADF2ADLS_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Driver_BB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2ADF_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Drivers_B.json",
						"folderPath": "Medallian/Bronze",
						"fileSystem": "ubersgcontainer"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"_id": {
							"type": "object",
							"properties": {
								"$oid": {
									"type": "string"
								}
							}
						},
						"driver_id": {
							"type": "string"
						},
						"user_id": {
							"type": "string"
						},
						"vehicle_id": {
							"type": "string"
						},
						"license_number": {
							"type": "string"
						},
						"rating": {
							"type": "number"
						},
						"status": {
							"type": "string"
						},
						"created_at": {
							"type": "string"
						},
						"updated_at": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2ADF_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Driver_R')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Cosmodb2ADF_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbMongoDbApiCollection",
				"schema": [],
				"typeProperties": {
					"collection": "driverdata"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Cosmodb2ADF_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Drivers_S')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADF2ADLS_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Driver_S.csv",
						"folderPath": "Medallian/Silver",
						"fileSystem": "ubersgcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADF2ADLS_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Location_BB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2ADF_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Location.csv",
						"folderPath": "Medallian/Bronze",
						"fileSystem": "ubersgcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "location_id",
						"type": "String"
					},
					{
						"name": "location",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "description",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2ADF_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Location_S')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADF2ADLS_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Location_S.csv",
						"folderPath": "Medallian/Silver",
						"fileSystem": "ubersgcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADF2ADLS_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Rides')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2ADF_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Ride_S.csv",
						"folderPath": "Medallian/Silver",
						"fileSystem": "ubersgcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ride_id",
						"type": "String"
					},
					{
						"name": "user_id",
						"type": "String"
					},
					{
						"name": "driver_id",
						"type": "String"
					},
					{
						"name": "pickup_location",
						"type": "String"
					},
					{
						"name": "dropoff_location",
						"type": "String"
					},
					{
						"name": "pickup_lat",
						"type": "String"
					},
					{
						"name": "pickup_long",
						"type": "String"
					},
					{
						"name": "dropoff_lat",
						"type": "String"
					},
					{
						"name": "dropoff_long",
						"type": "String"
					},
					{
						"name": "distance_km",
						"type": "String"
					},
					{
						"name": "ride_start_time",
						"type": "String"
					},
					{
						"name": "ride_end_time",
						"type": "String"
					},
					{
						"name": "Fare",
						"type": "String"
					},
					{
						"name": "Status",
						"type": "String"
					},
					{
						"name": "ride_duration_min",
						"type": "String"
					},
					{
						"name": "uber_fare",
						"type": "String"
					},
					{
						"name": "driver_fare",
						"type": "String"
					},
					{
						"name": "fare_per_km",
						"type": "String"
					},
					{
						"name": "ride_shift",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2ADF_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Rides_BB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2ADF_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Rides.csv",
						"folderPath": "Medallian/Bronze",
						"fileSystem": "ubersgcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ride_id",
						"type": "String"
					},
					{
						"name": "user_id",
						"type": "String"
					},
					{
						"name": "driver_id",
						"type": "String"
					},
					{
						"name": "pickup_location",
						"type": "String"
					},
					{
						"name": "dropoff_location",
						"type": "String"
					},
					{
						"name": "pickup_lat",
						"type": "String"
					},
					{
						"name": "pickup_long",
						"type": "String"
					},
					{
						"name": "dropoff_lat",
						"type": "String"
					},
					{
						"name": "dropoff_long",
						"type": "String"
					},
					{
						"name": "distance (km)",
						"type": "String"
					},
					{
						"name": "ride_start_time",
						"type": "String"
					},
					{
						"name": "ride_end_time",
						"type": "String"
					},
					{
						"name": "Fare",
						"type": "String"
					},
					{
						"name": "Status",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2ADF_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Rides_S')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADF2ADLS_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Rides_S.csv",
						"folderPath": "Medallian/Silver",
						"fileSystem": "ubersgcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADF2ADLS_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/User_S')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADF2ADLS_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "User_S.csv",
						"folderPath": "Medallian/Silver",
						"fileSystem": "ubersgcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADF2ADLS_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vehicle_BB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2ADF_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Xml",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Vehicle.xml",
						"folderPath": "Medallian/Bronze",
						"fileSystem": "ubersgcontainer"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2ADF_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vehicle_S')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADF2ADLS_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Vehicle_S.csv",
						"folderPath": "Medallian/Silver",
						"fileSystem": "ubersgcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADF2ADLS_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dropofflaction')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2ADF_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Location_S.csv",
						"folderPath": "Medallian/Silver",
						"fileSystem": "ubersgcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "location_id",
						"type": "String"
					},
					{
						"name": "location",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "description",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2ADF_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/location')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2ADF_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Location_S.csv",
						"folderPath": "Medallian/Silver",
						"fileSystem": "ubersgcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "location_id",
						"type": "String"
					},
					{
						"name": "location",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "description",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2ADF_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/uber_df')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADF2ADLS_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Uber_G",
						"folderPath": "Medallian/Gold",
						"fileSystem": "ubersgcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADF2ADLS_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/user')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2ADF_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "user_S.csv",
						"folderPath": "Medallian/Silver",
						"fileSystem": "ubersgcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "user_id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "email",
						"type": "String"
					},
					{
						"name": "phone_number",
						"type": "String"
					},
					{
						"name": "password_hash",
						"type": "String"
					},
					{
						"name": "profile_picture",
						"type": "String"
					},
					{
						"name": "user_type",
						"type": "String"
					},
					{
						"name": "created_at",
						"type": "String"
					},
					{
						"name": "updated_at",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2ADF_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/user_BB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2ADF_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "User.xlsx",
						"folderPath": "Medallian/Bronze",
						"fileSystem": "ubersgcontainer"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "user_id",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "email",
						"type": "String"
					},
					{
						"name": "phone_number",
						"type": "String"
					},
					{
						"name": "password_hash",
						"type": "String"
					},
					{
						"name": "profile_picture",
						"type": "String"
					},
					{
						"name": "user_type",
						"type": "String"
					},
					{
						"name": "created_at",
						"type": "String"
					},
					{
						"name": "updated_at",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2ADF_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/vehicle')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2ADF_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Vechicle_S.csv",
						"folderPath": "Medallian/Silver",
						"fileSystem": "ubersgcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Fitness_Certificate_Expiry",
						"type": "String"
					},
					{
						"name": "Fuel_Type",
						"type": "String"
					},
					{
						"name": "GPS_Enabled",
						"type": "String"
					},
					{
						"name": "Insurance_Expiry_Date",
						"type": "String"
					},
					{
						"name": "Registration_Date",
						"type": "String"
					},
					{
						"name": "capacity",
						"type": "String"
					},
					{
						"name": "color",
						"type": "String"
					},
					{
						"name": "driver_id",
						"type": "String"
					},
					{
						"name": "model",
						"type": "String"
					},
					{
						"name": "vehicle_id",
						"type": "String"
					},
					{
						"name": "vehicle_num",
						"type": "String"
					},
					{
						"name": "vehicle_type",
						"type": "String"
					},
					{
						"name": "vehicle_age_years",
						"type": "String"
					},
					{
						"name": "insurance_status",
						"type": "String"
					},
					{
						"name": "insurance_days_remaining",
						"type": "String"
					},
					{
						"name": "fitness_status",
						"type": "String"
					},
					{
						"name": "vehicle_age_group",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2ADF_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF2ADLS_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This links helps to push files from ADF2ADLS",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ADF2ADLS_ls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ADF2ADLS_ls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS2ADF_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is link is helped to get data from ADLS2ADF",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ADLS2ADF_ls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ADLS2ADF_ls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob2ADF_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is the link which helps to get files from Blob2ADF",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('Blob2ADF_ls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cosmodb2ADF_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This link is used to get data from cosmodb2ADF",
				"annotations": [],
				"type": "CosmosDbMongoDbApi",
				"typeProperties": {
					"connectionString": "[parameters('Cosmodb2ADF_ls_connectionString')]",
					"account": {
						"type": "SecureString",
						"value": "[parameters('Cosmodb2ADF_ls_account')]"
					},
					"database": "[parameters('Cosmodb2ADF_ls_properties_typeProperties_database')]",
					"isServerVersionAbove32": true
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Driver_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This DF will perform all transformation on Driver  ",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Driver_BB",
								"type": "DatasetReference"
							},
							"name": "driver"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Drivers_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "selectedcols"
						},
						{
							"name": "derivedCols"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {_id} as ({$oid} as string),",
						"          created_at as date,",
						"          driver_id as string,",
						"          license_number as string,",
						"          rating as double,",
						"          status as string,",
						"          updated_at as date,",
						"          user_id as string,",
						"          vehicle_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> driver",
						"driver select(mapColumn(",
						"          created_at,",
						"          driver_id = license_number,",
						"          license_number,",
						"          rating,",
						"          status,",
						"          updated_at,",
						"          user_id,",
						"          vehicle_id",
						"     ),",
						"     partitionBy('hash', 1),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectedcols",
						"selectedcols derive(rating_category = iif(rating >= 4.5, 'Excellent',\r",
						"    iif(rating >= 3.5, 'Good',\r",
						"        iif(rating >= 2.5, 'Average', 'Poor'))),",
						"          driver_experience_days = toInteger(currentDate() - created_at),",
						"          is_active = iif(status==\"active\",1,0),",
						"          days_since_update = toInteger(currentDate()- updated_at)) ~> derivedCols",
						"derivedCols sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     filePattern:'Driver_S.csv',",
						"     umask: 0777,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Driver_BB')]",
				"[concat(variables('factoryId'), '/datasets/Drivers_S')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Location_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This dataflow will include all transformation on Lactation File",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Location_BB",
								"type": "DatasetReference"
							},
							"name": "Location"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Location_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          location_id as string,",
						"          location as string,",
						"          latitude as string,",
						"          longitude as string,",
						"          description as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> Location",
						"Location sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     filePattern:'Location_S.csv',",
						"     umask: 0777,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Location_BB')]",
				"[concat(variables('factoryId'), '/datasets/Location_S')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Rides_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Rides_BB",
								"type": "DatasetReference"
							},
							"name": "Rides"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Rides_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedCols"
						},
						{
							"name": "select1"
						},
						{
							"name": "drivriedcols"
						},
						{
							"name": "morederivedcols"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ride_id as string,",
						"          user_id as string,",
						"          driver_id as string,",
						"          pickup_location as string,",
						"          dropoff_location as string,",
						"          pickup_lat as string,",
						"          pickup_long as string,",
						"          dropoff_lat as string,",
						"          dropoff_long as string,",
						"          {distance (km)} as string,",
						"          ride_start_time as string,",
						"          ride_end_time as string,",
						"          Fare as string,",
						"          Status as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Rides",
						"select1 derive(ride_start_time = toTimestamp(ride_start_time,'dd-MM-yyyy HH:mm'),",
						"          ride_end_time = toTimestamp(ride_end_time,'dd-MM-yyyy HH:mm'),",
						"          distance_km = round(toDouble(distance_km), 2),",
						"          Fare = round(toDouble(Fare), 2)) ~> derivedCols",
						"Rides select(mapColumn(",
						"          ride_id,",
						"          user_id,",
						"          driver_id,",
						"          pickup_location,",
						"          dropoff_location,",
						"          pickup_lat,",
						"          pickup_long,",
						"          dropoff_lat,",
						"          dropoff_long,",
						"          distance_km = {distance (km)},",
						"          ride_start_time,",
						"          ride_end_time,",
						"          Fare,",
						"          Status",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"derivedCols derive(Status = iif(isNull(Status),'Cancelled', Status),",
						"          each(match(type=='timestamp'), $$ = iif(isNull($$), toTimestamp('1900-01-01 00:00:00'), $$)),",
						"          each(match(type=='double'||type=='integer'||type=='long'), $$ = iif(isNull($$), toDouble(0), $$)),",
						"          each(match(type=='string'&&name!='Status'), $$ = iif(isNull($$) || trim($$) == '', 'NA', $$)),",
						"     partitionBy('hash', 1)) ~> drivriedcols",
						"drivriedcols derive(ride_duration_min = round((toLong(ride_end_time) - toLong(ride_start_time)) / 60000.0, 2),",
						"          uber_fare = round(Fare * 0.20,2),",
						"          driver_fare = round(Fare * 0.80,2),",
						"          fare_per_km = round(Fare / distance_km, 2),",
						"          ride_start_time = toString(ride_start_time,'EEEE'),",
						"          ride_shift = iif(\r",
						"    hour(ride_start_time) >= 5 && hour(ride_start_time) < 12,\r",
						"    'Morning',\r",
						"    iif(\r",
						"        hour(ride_start_time) >= 12 && hour(ride_start_time) < 17,\r",
						"        'Afternoon',\r",
						"        iif(\r",
						"            hour(ride_start_time) >= 17 && hour(ride_start_time) < 21,\r",
						"            'Evening',\r",
						"            'Late Night'\r",
						"        )\r",
						"    )\r",
						")) ~> morederivedcols",
						"morederivedcols sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     filePattern:'Ride_S.csv',",
						"     umask: 0777,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Rides_BB')]",
				"[concat(variables('factoryId'), '/datasets/Rides_S')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Uber_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is final DF",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Driver",
								"type": "DatasetReference"
							},
							"name": "Driver"
						},
						{
							"dataset": {
								"referenceName": "Rides",
								"type": "DatasetReference"
							},
							"name": "Rides"
						},
						{
							"dataset": {
								"referenceName": "user",
								"type": "DatasetReference"
							},
							"name": "user"
						},
						{
							"dataset": {
								"referenceName": "vehicle",
								"type": "DatasetReference"
							},
							"name": "vehicle"
						},
						{
							"dataset": {
								"referenceName": "location",
								"type": "DatasetReference"
							},
							"name": "locationdf"
						},
						{
							"dataset": {
								"referenceName": "dropofflaction",
								"type": "DatasetReference"
							},
							"name": "locationdf2"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "uber_df",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "driverselectedcols"
						},
						{
							"name": "ridesselectedcols"
						},
						{
							"name": "drdf"
						},
						{
							"name": "userselectedcols"
						},
						{
							"name": "drudf"
						},
						{
							"name": "vehicleselectedcols"
						},
						{
							"name": "druvdf"
						},
						{
							"name": "pickuplactiondf"
						},
						{
							"name": "druvpldf"
						},
						{
							"name": "dropofflaction"
						},
						{
							"name": "druvpldldf"
						}
					],
					"scriptLines": [
						"source(output(",
						"          created_at as string,",
						"          driver_id as string,",
						"          rating as string,",
						"          status as string,",
						"          updated_at as string,",
						"          user_id as string,",
						"          vehicle_id as string,",
						"          rating_category as string,",
						"          driver_experience_days as string,",
						"          is_active as string,",
						"          days_since_update as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Driver",
						"source(output(",
						"          ride_id as string,",
						"          user_id as string,",
						"          driver_id as string,",
						"          pickup_location as string,",
						"          dropoff_location as string,",
						"          pickup_lat as string,",
						"          pickup_long as string,",
						"          dropoff_lat as string,",
						"          dropoff_long as string,",
						"          distance_km as string,",
						"          ride_start_time as string,",
						"          ride_end_time as string,",
						"          Fare as string,",
						"          Status as string,",
						"          ride_duration_min as string,",
						"          uber_fare as string,",
						"          driver_fare as string,",
						"          fare_per_km as string,",
						"          ride_shift as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Rides",
						"source(output(",
						"          user_id as string,",
						"          name as string,",
						"          email as string,",
						"          phone_number as string,",
						"          password_hash as string,",
						"          profile_picture as string,",
						"          user_type as string,",
						"          created_at as string,",
						"          updated_at as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> user",
						"source(output(",
						"          Fitness_Certificate_Expiry as string,",
						"          Fuel_Type as string,",
						"          GPS_Enabled as string,",
						"          Insurance_Expiry_Date as string,",
						"          Registration_Date as string,",
						"          capacity as string,",
						"          color as string,",
						"          driver_id as string,",
						"          model as string,",
						"          vehicle_id as string,",
						"          vehicle_num as string,",
						"          vehicle_type as string,",
						"          vehicle_age_years as string,",
						"          insurance_status as string,",
						"          insurance_days_remaining as string,",
						"          fitness_status as string,",
						"          vehicle_age_group as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> vehicle",
						"source(output(",
						"          location_id as string,",
						"          location as string,",
						"          latitude as string,",
						"          longitude as string,",
						"          description as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> locationdf",
						"source(output(",
						"          location_id as string,",
						"          location as string,",
						"          latitude as string,",
						"          longitude as string,",
						"          description as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> locationdf2",
						"Driver select(mapColumn(",
						"          created_at,",
						"          driver_id,",
						"          rating,",
						"          driver_status = status,",
						"          updated_at,",
						"          driver_user_id = user_id,",
						"          vehicle_id,",
						"          rating_category,",
						"          driver_experience_days,",
						"          is_active,",
						"          days_since_update",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> driverselectedcols",
						"Rides select(mapColumn(",
						"          ride_id,",
						"          rideer_user_id = user_id,",
						"          driver_id,",
						"          pickup_location,",
						"          dropoff_location,",
						"          pickup_lat,",
						"          pickup_long,",
						"          dropoff_lat,",
						"          dropoff_long,",
						"          distance_km,",
						"          ride_start_time,",
						"          ride_end_time,",
						"          Fare,",
						"          rider_Status = Status,",
						"          ride_duration_min,",
						"          uber_fare,",
						"          driver_fare,",
						"          fare_per_km,",
						"          ride_shift",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ridesselectedcols",
						"driverselectedcols, ridesselectedcols join(driverselectedcols@driver_id == ridesselectedcols@driver_id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> drdf",
						"user select(mapColumn(",
						"          user_id,",
						"          name,",
						"          email,",
						"          phone_number,",
						"          password_hash,",
						"          profile_picture,",
						"          user_type,",
						"          user_created_at = created_at,",
						"          user_updated_at = updated_at",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> userselectedcols",
						"drdf, userselectedcols join(driver_user_id == user_id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> drudf",
						"vehicle select(mapColumn(",
						"          Fitness_Certificate_Expiry,",
						"          Fuel_Type,",
						"          GPS_Enabled,",
						"          Insurance_Expiry_Date,",
						"          Registration_Date,",
						"          capacity,",
						"          color,",
						"          driver_id,",
						"          model,",
						"          vehicle_id,",
						"          vehicle_num,",
						"          vehicle_type,",
						"          vehicle_age_years,",
						"          insurance_status,",
						"          insurance_days_remaining,",
						"          fitness_status,",
						"          vehicle_age_group",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> vehicleselectedcols",
						"drudf, vehicleselectedcols join(driverselectedcols@vehicle_id == vehicleselectedcols@vehicle_id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> druvdf",
						"locationdf select(mapColumn(",
						"          pickup_location_id = location_id,",
						"          pickup_location_name = location,",
						"          pickup_master_latitude = latitude,",
						"          pickup_master_longitude = longitude,",
						"          pickup_description = description",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> pickuplactiondf",
						"druvdf, pickuplactiondf join(pickup_location == pickup_location_id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> druvpldf",
						"locationdf2 select(mapColumn(",
						"          dropoff_location_id = location_id,",
						"          dropoff_location_name = location,",
						"          dropoff_master_latitude = latitude,",
						"          dropoff_master_longitude = longitude,",
						"          dropoff_description = description",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> dropofflaction",
						"druvpldf, dropofflaction join(dropoff_location == dropoff_location_id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> druvpldldf",
						"druvpldldf sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     filePattern:'Uber_G.csv',",
						"     umask: 0777,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Driver')]",
				"[concat(variables('factoryId'), '/datasets/Rides')]",
				"[concat(variables('factoryId'), '/datasets/user')]",
				"[concat(variables('factoryId'), '/datasets/vehicle')]",
				"[concat(variables('factoryId'), '/datasets/location')]",
				"[concat(variables('factoryId'), '/datasets/dropofflaction')]",
				"[concat(variables('factoryId'), '/datasets/uber_df')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/User_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "user_BB",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "User_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          user_id as string,",
						"          name as string,",
						"          email as string,",
						"          phone_number as string,",
						"          password_hash as string,",
						"          profile_picture as string,",
						"          user_type as string,",
						"          created_at as string,",
						"          updated_at as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(email = concat(\r",
						"    substring(email,1,1),\r",
						"    '******',\r",
						"    substring(email, locate('@',email), length(email))\r",
						"),",
						"     partitionBy('hash', 1)) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     filePattern:'user_S.csv',",
						"     umask: 0777,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/user_BB')]",
				"[concat(variables('factoryId'), '/datasets/User_S')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vehicle_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Vehicle_BB",
								"type": "DatasetReference"
							},
							"name": "Vehicle"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Vehicle_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Vehicleflatten"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "derivedColumn2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          root as (row as (Fitness_Certificate_Expiry as date, Fuel_Type as string, GPS_Enabled as boolean, Insurance_Expiry_Date as date, Registration_Date as date, capacity as short, color as string, driver_id as string, model as string, vehicle_id as string, vehicle_num as string, vehicle_type as string)[])",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false,",
						"     validationMode: 'none',",
						"     namespaces: true,",
						"     partitionBy('hash', 1)) ~> Vehicle",
						"Vehicle foldDown(unroll(root.row),",
						"     mapColumn(",
						"          Fitness_Certificate_Expiry = root.row.Fitness_Certificate_Expiry,",
						"          Fuel_Type = root.row.Fuel_Type,",
						"          GPS_Enabled = root.row.GPS_Enabled,",
						"          Insurance_Expiry_Date = root.row.Insurance_Expiry_Date,",
						"          Registration_Date = root.row.Registration_Date,",
						"          capacity = root.row.capacity,",
						"          color = root.row.color,",
						"          driver_id = root.row.driver_id,",
						"          model = root.row.model,",
						"          vehicle_id = root.row.vehicle_id,",
						"          vehicle_num = root.row.vehicle_num,",
						"          vehicle_type = root.row.vehicle_type",
						"     ),",
						"     partitionBy('hash', 1),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> Vehicleflatten",
						"Vehicleflatten derive(vehicle_age_years = round(monthsBetween(currentDate(),Registration_Date)/12,2),",
						"          insurance_status = iif(Insurance_Expiry_Date<currentDate(),'Expired', 'Active'),",
						"          insurance_days_remaining = iif(\r",
						"    Insurance_Expiry_Date < currentDate(),\r",
						"    0,\r",
						"    minus(Insurance_Expiry_Date, currentDate())\r",
						"),",
						"          fitness_status = iif(\r",
						"    Fitness_Certificate_Expiry < currentDate(),\r",
						"    'Expired',\r",
						"    'Valid'\r",
						")) ~> derivedColumn1",
						"derivedColumn1 derive(vehicle_age_group = iif(\r",
						"    vehicle_age_years < 3,\r",
						"    'New',\r",
						"    iif(\r",
						"        vehicle_age_years < 7,\r",
						"        'Mid-Age',\r",
						"        'Old'\r",
						"    )\r",
						")) ~> derivedColumn2",
						"derivedColumn2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     filePattern:'Vechicle_S.csv',",
						"     umask: 0777,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Vehicle_BB')]",
				"[concat(variables('factoryId'), '/datasets/Vehicle_S')]"
			]
		}
	]
}